.profile_background{
    width:100%;
    height:110vh;
    align-self: center;
    overflow: scroll;
    background-repeat: no-repeat;
    background-image: url('./../../assets/brooke-lark-429481.jpg')
}
.profileNav{
    width:100%;
    height:10vh;
    padding:10px;
    display: flex;
    align-items: center;
    background: rgba(239, 35, 62, 0.777);
    border:2px solid rgb(239, 35, 62);
}

.profile_header{
    width:80%;
    text-align: center;
    font-size:60px;
    margin-left:45clea0px;
}
.remove_button{
    width:32px;
    height:32px;
    background: transparent;
    background-image: url('./../../assets/remove.png')
}
.back-button{
    width:48px;
    height:48px;
    margin:10px;
    background:transparent;
    background-image: url('./../../assets/home-48.png')
}
.profile_img{
    width:65px;
    height:65px;
    border-radius: 50%;
    margin-left:10px;
    border:2px solid black;
}
.favorite_recipes{
    width:100%;
    margin-top:50px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profile_recipe_card{
    width:30%;
    height:280px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(251, 251, 251, 0.444);
    border-radius:5px;
    border:ridge;
    text-align: center;
}
