.remove_button{
    width:32px;
    height:32px;
    background-image: url('./../../assets/remove.png')
}
.back-button{
    width:48px;
    height:48px;
    background-image: url('./../../assets/home-48.png')
}