.profile_background{
    width:100%;
    height:100vh;
    overflow: scroll;
    background-repeat: no-repeat;
}
.profile_background::after{
    content:'';
    width:100%;
    height:100%;
    opacity:0.5;
    z-index:-1; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-image: url('./../../assets/brooke-lark-429481.jpg')
}
.profileNav{
    width:100%;
    height:6vh;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(184,115,51);
}

.profile_title{
    width:70%;
    font-size:60px;
    text-align: center;
}
.remove_button{
    width:32px;
    height:32px;
    background: transparent;
    background-image: url('./../../assets/remove.png')
}
.home-button{
    width:48px;
    height:48px;
    margin:10px;
    background:transparent;
    background-image: url('./../../assets/home-48.png')
}
.profile_img{
    width:50px;
    height:50px;
    border-radius: 10%;
    margin-left:10px;
    border:2px solid black;
}
.favorite_recipes{
    width:100%;
    margin-top:30px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profile_recipe_card{
    width:20%;
    margin:10px;
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgb(251, 251, 251);
    text-align: center;
}
