.input_box{
 width:25vw;
 height: 5vh;
 margin:1px;
}
.search_button{
    width:10vw;
    height:6vh;
    margin:1px;
    border-radius: 5px;
}
.navBackground{
 border:3px solid #353535;
 width:100%; 
 height:7vh;
 position: absolute;
 background:#858383;
 display: flex;
 align-items: center;
 position: fixed;
 top:0;
}
.navPositioning{
    width:50%;
    height:5vh;
    margin-left: 50px;
    display: flex;
    align-content: center;

}
/* .options_position{
    width:40%;
    height: 5vh;
    margin-left:200px;
    display:flex;
    align-items: center;
    justify-content: space-between;
} */
.background{
    width:100%;
    height:400vh;
    background-repeat: no-repeat;
    background-image: url('./../../assets/brooke-lark-230140.jpg');
}

.main_content{
    width:100%;
    margin-top:50px;
    
    border:3px solid black;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.margin{
    width:25%;
    padding:10px;
    margin:10px;
    border-radius: 10px;
    background: rgba(192, 189, 189, 0.329);
    /* box-shadow: 13px 14px 31px 13px rgba(199,183,199,0.24);  */
    border:2px dotted red;
}
img{
    width:250px;
    height:200px;
    border-radius: 10px;
    
}