 .mainPage_background{
 width:100%;
 height:400vh;
 background-repeat: no-repeat;
 background: silver;
 }

.mainPage_navBackground{
 width:100%; 
 height:10vh;
 border-radius: 2px;
 background: rgba(239, 35, 62, 0.777);
 display: flex;
 border:2px solid rgb(239, 35, 62);
 align-items: center;
}

.fork_and_spoon_logo{
    width:48px;
    height:48px;
    background-image: url('./../../assets/restaurant-4-48.png')
}

.mainPage_header{
    font-family: 'kaushan script';
    font-size:40px;
    font-weight: 900;
}

.input_box{
 width:30vw;
 height: 5.2vh;
 border-radius: 5px;
 margin-left:200px;
}

.search_button{
 width:10vw;
 height:5.7vh;
 margin:1px;
 border-radius: 5px;
 border:outset;
}

.mainPage_menu{
    width:10%;
    height:5vh;
    margin-left:250px;
}

.mainPage_menu_options{
    display: flex;
    justify-content: space-around;
}

.cook{
    width:48px;
    height:48px;
    background-image: url('./../../assets/cook.png');
}
.logout{
    width:48px;
    height:48px;
    background-image: url('./../../assets/logout.png');
}
.mainPage_main_content{
    width:100%;
    margin-top:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mainPage_recipe_info{
    width:25%;
    padding:10px;
    margin:10px;
    text-align: center;
    border-radius:2px;
    border:ridge;
    background:rgba(251, 251, 251, 0.444);
}
.mainPage_recipe_img{
    width:250px;
    height:200px;
    margin:5px;
    border-radius: 10px;
    border:double black;
}

.add_button{
    width:32px;
    height:32px;
    margin:5px;
    background: transparent;
    background-image: url('./../../assets/add.png')
}