 .mainPage_background{
 width:100%;
 height:100vh;
 overflow: scroll;
 }
 .mainPage_background::after{
     content:'';
     width:100%;
     height:100%;
     opacity:0.5;
     z-index:-1; 
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
    background-image: url('./../../assets/brooke-lark-191658.jpg') ;
 }

.mainPage_navBackground{
 width:100%; 
 height:6.5vh;
 padding:5px;
 background:rgb(184,115,51);
 display: flex;
 align-items: center;
 justify-content: center;
 justify-content: space-between;
 justify-content: space-around;
}

.logo_position{
    width:20%;
    display: flex;
    flex-direction: row;
}
.fork_and_spoon_logo{
    width:48px;
    height:48px;
    background-image: url('./../../assets/restaurant-4-48.png')
}

.mainPage_title{
    font-family: 'kaushan script';
    font-size:40px;
    font-weight: 900;
}

.input_box{
 width:20vw;
 height: 4vh;
 border-radius: 5px;
 margin-left:200px;
}

.search_button{
 width:5vw;
 height:4.5vh;
 margin:1px;
}

.mainPage_menu{
    width:10%;
    height:5vh;
    margin-left:200px;
}
.mainPage_menu_options{
    display: flex;
}

.cook{
    width:48px;
    height:48px;
    background-image: url('./../../assets/cook.png');
}
.logout{
    width:48px;
    height:48px;
    background: transparent;
    background-image: url('./../../assets/logout.png');
}
.mainPage_main_content{
    width:100%;
    margin-top:80px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mainPage_recipe_info{
    width:20%;
    margin:10px;
    padding:5px;
    text-align: center;
    background:rgb(251, 251, 251);
}
.title{
    width:90%;
    height:7vh;
    padding:10px;
    text-align: center;
}
.mainPage_recipe_img{
    width:80%;
    height:250px;
    margin:10px;
}

.add_button{
    width:32px;
    height:32px;
    margin:10px;
    background: transparent;
    background-image: url('./../../assets/add.png')
}