.home_background{
width:100%;
height:110vh;
background:url('./../../assets/kitchen.jpg');
background-repeat: no-repeat;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

.home_title{
    font-size:85px;
    width:60%;
    font-family:'Kaushan script';
    padding:30px;
    margin-left:350px;
    line-height:120px;
    color:rgb(0, 0, 0);
    text-shadow: 3px 3px rgba(255, 255, 255, 0.888);
}

.home_button{
    width:35vh;
    height:35vh;
    color:black;
    background:rgba(233, 233, 210, 0.888);
    border-radius:50%;
    font-size:55px;
    font-weight: 900;
    outline: none;
    box-shadow:  10px 8px 5px 5px rgba(65, 64, 61, 0.774);
}
.demo_credentials{
    width: 300px; 
    height:80px; 
    font-size:20px;
    background: rgba(255, 255, 255, 0.781);
    float:left;
    position:fixed;
    left:0;
    bottom:0;
    padding:20px;
    border:1px dotted black;
    text-align:left;
}