.recipeDetail_background{
    width:100%;
    height:150vh;
    background: url('./../../assets/brooke-lark-385507.jpg');
    background-repeat: no-repeat;
}

.recipe_info{
    width:70%;
    height:100vh;
    background: rgba(199, 194, 194, 0.555);
}

.recipeDetail_nav{
    width:50%;
    height:10vh;
    background: rgba(137, 45, 160, 0.5);
}