body{
    font-family: 'fredericka the great';
}

button{
    font-family: 'Kaushan Script';
    font-size:16px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

input{
    font-family: 'fredericka the great';
    font-size:16px;
}

li{
list-style: none;
font-size: 20px;
}

h2{
    font-size:24px;
}



